nav.uk-navbar-container(uk-navbar='')
    .uk-navbar-left
        img(width='50' height='50' alt='' uk-img='images/g_logo.svg')
    .uk-navbar-right
        ul.uk-navbar-nav
            li
                a(href='#') About
            li
                a(href='#') Item
